<%# The .any? method returns false for an empty object and true otherwise (the opposite of .empty? method). The pluralize method takes an integer argument (@post.errors.count) and then returns the number with a properly pluralized version of its second argument (“error”): 1 error, 2 errors, 436 errors… %>

<% if @post.errors.any?%>
    <div>
        <p><%=pluralize(@post.errors.count,"error")%> prevented this post from saving </p>
        <ul>
            <% @ post.errors.full_messages.each do |msg|%>
            <li><%=msg %></li>
            <%end%>
        </ul>
    </div>
<%end%>
