<h1>Latest discussions</h1>
<table class="striped">
<thead>
<tr>
<%@posts.each do |post|%>

<th><%= link_to post.title, post%></th>
<th><%=post.body%></th>
<th>By: <%=post.user.username%></th>
<th><%=link_to 'Leave a comment', new_comment_path(post_id: post.id)%></th></tr>
</thead>
<% end %>
</table>